* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: #fff;
    overflow: hidden;
    background-color: #000;
} 
.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar {
    background-color: #000;
    width: 340px;
    border-radius: 1rem; /* 16px */
    margin-right: 0.5rem;
}
.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}
.music-player {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 72px;
    bottom: 0;
}
 a {
    text-decoration: none;
    color: #fff;
}
.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}
.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    background-color: #121212;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i {
    font-size: 1.25rem;
    background-color: #121212;
}
.nav-option a {
    font-size: 1rem;
    background-color: #121212;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
}
.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
    background-color: #121212;
    
}
.icons {
    background-color: #121212;
    font-size: 1.25rem;
    display:flex;
}
 a {
    background-color: #121212;
}
.icons i {
    margin-right: 1rem;
    background-color: #121212;
    opacity: 0.7;
}
.icons i:hover {
    opacity: 1;
}
.lib-box{
    background-color: #121212;
    border-radius: 0.75rem;
}
.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}
.box-1 {
    background-color: #232323;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.box-2 {
    background-color: #232323;
    font-size: 0.85rem;
    opacity: 0.9;
    margin-bottom: 1rem;
}
.badge {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    color: black;
    width: fit-content;
}
.dark-badge {
    background-color: #000;
    color: #fff;
}
.nav-sticky {
    background-color: #121212;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-icons {
    margin-left: 0.75rem;
}
.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item {
    margin-right: 1rem;
}
.install-btn {
    display: flex;
    align-items: center;  
    gap: 0.5rem;
    cursor: pointer;
}

.install-btn i {
    font-size: 1rem;
}



@media (max-width:1000px){
    .hide {
        display: none;
    }
}
.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}
.card-container {
    display: flex;
    margin-top: 0.5rem;
    flex-wrap: wrap;
}
.card-img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}
p {
    background-color: #232323;
    margin-bottom: 0.5rem;
}
.bottom{
    margin-bottom: 0;
}
.card-title {
    font-weight: 600;
}
.card-info {
    font-size: 0.8rem;
    opacity: 0.8;
}
.footer {
    height: 300px;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    background-color: #121212;
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.album {
    width: 25%;
    display: flex;
    /* justify-content: center; */
    padding: 10px;
    border-radius: 0.5rem;
}
.player {
    width: 50%;
}
.controls {
    width: 25%;
}
.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    margin-bottom: 0.5rem;
}
.control-btn {
    font-size: 1rem;
    opacity: 0.7;
    cursor: pointer;
}

.control-btn:hover {
    opacity: 1;
}

.play-btn {
    font-size: 2rem;
    cursor: pointer;
}
.playback-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    font-size: 0.75rem;
    color: #b3b3b3;
}

/* Time labels */
.curr-time,
.tot-time {
    min-width: 35px;
    text-align: center;
    opacity: 0.8;
}

/* Progress bar */
.progress-bar {
    width: 70%;
    cursor: pointer;
}
.cover-img{
    margin-right: 1rem;
    border-radius: 4px;
    width: 50px;
    height: 50px;
}
h3{
    font-weight: 450;
    font-size: 16px;
    margin: 5px 0 5px 0;
    opacity: 1; 
}
.artist-name {
    background-color: #000;
    font-size: 14px;
    margin: 0;
    opacity: 0.5;
}
.song-actions {
    display: flex;
    gap: 0.75rem;
}

.icon-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}
h2 {
    margin-bottom: 1.5rem;   /* try 16px or 24px */
}
.controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 1rem;
}

.control-icon {
    font-size: 1rem;
    opacity: 0.7;
    cursor: pointer;
}

.control-icon:hover {
    opacity: 1;
}
@media (max-width: 900px) {
    .controls {
        display: none;
    }
}
.volume-bar{
    cursor: pointer;
}
.liked {
    color: #1db954;
}
